%% Additional library directories to add to the code path
{lib_dirs, ["../otp_src_18.0/lib"]}.

%% Erlang compiler options
{erl_opts, [no_debug_info,
            {src_dirs, ["src"]}]}.

%% == EUnit ==

%% Options for eunit:test()
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

%% Additional compile options for eunit. erl_opts is also used
{eunit_compile_opts, [[debug_info,
                       {i, "../otp_src_18.0/lib"},
                       {src_dirs, ["test"]}]]}.

%% == Cover ==

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, false}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, false}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, false}.

{dialyzer,
 [%% Store PLT locally inside the project in .rebar (Default)
  {plt_location, local},
  {warnings, [unmatched_returns, error_handling]}
 ]}.